$color-title: #0056b3;
$color-nav-link: #7c149b;
$color-article-bg: #ffffff;
$color-footer-font: #ffffff;
$color-body-bg: #f4f4f4;
$color-body-text: #333;
$color-footer-bg: #1d11a5;
$color-footer-link: turquoise;