// _footer.scss

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../themes/colors' as *;

.footer {
  background-color: $color-footer-bg;
  color: $color-footer-font;
  text-align: center;
  padding: 1rem 0;
  margin-top: 20px;

  &__text {
    margin: 0;
  }

  &__link {
    color: $color-footer-link;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
