// _header.scss

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../themes/colors' as *;


.header {
  &__logo-img {
    height: auto;
    width: 45px;
    border-radius: $radius-full;
  }

  &__title {
    color: $color-title-nav;
    font-weight: bold;
  }

  &__menu--item {
    .nav-link {
      color: $color-nav-link;
      font-weight: 500;
      font-size: large;
    }
  }
}
