// _main-content.scss

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
@use '../themes/colors' as *;

body {
  font-family: $font-family-main;
  line-height: $line-height-base;
  margin: 0;
  padding: 0;
  background-color: $color-body-bg;
  color: $color-body-text;
  background-image: url('https://st.depositphotos.com/1000970/4216/i/450/depositphotos_42166419-stock-photo-a-white-sand-bottom-in.jpg');
  background-size: cover;
}


.main-content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 120px);
  box-sizing: border-box;
}
